@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

.container {
  width: 100vw;
  height: 100vh;
}

body {
  /* background-image: url(./images/tech-bg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* background-color: black; */
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-bar a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
}
.mainContent {
  color: #fff;
  display: flex;
  margin-left: 5rem;
  height: 100vh;
  align-items: center;
  position: absolute;
}

#sequence {
  display: none;
  color: yellow;
}

.img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
