@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Roboto";
  background: rgb(31, 30, 30);
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-bar a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
}
.mainContent {
  color: #fff;
  display: flex;
  margin-left: 5rem;
  height: 100vh;
  align-items: center;
  position: absolute;
  top: -20px;
}

#sequence {
  display: none;
  color: #63ffdb;
}

.img {
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  top: 0;
  left: 0;
}
.skills-section {
  height: 400px;
  width: 100vw;
  position: absolute;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-color: grey; */
}
.skills-section h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  font-size: 4rem;
  font-style: oblique;
  color: #fff;
}
.skills-section ul {
  position: relative;
  right: 200px;
  text-align: center;
  list-style-type: none;
  margin-top: 10px;
}
.skills-section ul li {
  padding: 0.8rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 250px;
  color: #fff;
}

.undrawn {
  height: 300px;
  /* position: relative; */
  top: -230px;
  left: 250px;
}
